<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./crud-form.css" rel="stylesheet" type="text.css">
  </head>
<body>
<!--====form section start====-->

<div class="edit-form">
  <form action="/update_process" method="POST">
    <input type="hidden" name="id" value="<%=id%>">
     <input type="text" name="list" required>
          <button type="submit">update</button>
        </div>
</div>
<!--====form section start====-->
</body>
</html>